<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все пользователи</title>
</head>
<body>
<h1>Список всех пользователей</h1>
<span th:text="${message}"></span>
<br>
<a th:href="@{/addUser}"><b>Добавить пользователя</b></a>
<br>
<table border="2">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Email</th>
    <th>Изменить</th>
    <th>Удалить</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${userList}">
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td><a th:href="@{/editUser(id=${user.id})}">Изменить</a></td>
    <td><a th:href="@{/deleteUser(id=${user.id})}">Удалить</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>
